@model IEnumerable<SoporteEnLinea.Models.Product>
@{
    ViewBag.Title = "Index";
}
<h2>Productos</h2>

@if (User.IsInRole("Administrador"))
{
    @Html.Partial("_ProductosAdministrador", Model)
}
else
{
    @Html.Partial("_ProductosUsuario", Model)
}